<p>Youpi!!!</p>

<form action="/" method="post">
  <div>
    <input type="text" name="fruit" id="fruit" required>
  </div>
  
  <div>
    <input type="submit" value="entrez votre fruit!">
  </div>
</form>
<%= "total : #{@price}" %><br>

<%= "Pommes : #{pommes}" %><br>
<%= "Bananes : #{bananes}" %><br>
<%= "Cerises : #{cerises}" %><br>
<%= "Meles : #{meles}" %><br>
